@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="odvojiOdHeadera">
    <h2 style="margin-top:200px">@ViewData["Title"]</h2>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</div>