@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="odvojiOdHeadera">

    <h2 style="padding-top: 150px;

        padding-left: 10px;">
        @ViewData["Title"]
    </h2>
    @{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p style="padding-left:10px;">
            This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
            Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
        </p>
    }
    else
    {
        <p>
            Please check your email to confirm your account.
        </p>
    }
    }

    </div>
